* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-size: 14px;
}

body {
  background-color: hsl(0, 0%, 8%);
  height: 100vh;
  display: grid;
  place-items: center;
}

.box {
  background-color: hsl(0, 0%, 12%);
  color: hsl(0, 0%, 100%);
  width: 45vh;
  height: 68vh;
  display: grid;
  place-items: center;
  border: none;
  border-radius: 10px;
  position: fixed;
}

.profile-picture-container {
  height: 70px;
}

.profile-picture {
  width: 70px;
  border: none;
  border-radius: 50%;
}

.profile-description {
  text-align: center;
  margin-top: -29px;
  line-height: 20px;
}
.profile-name {
  font-weight: 600;
}

.location {
  color: hsl(75, 94%, 57%);
}

.quote {
  margin-top: 20px;
  color: hsl(0, 2%, 44%);
}

.buttons {
  background-color: hsl(0, 0%, 20%);
  color: white;
  border: none;
  border-radius: 10px;
  margin-bottom: 8px;
  width: 240px;
  height: 35px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer {
  color: white;
  text-align: center;
  position: fixed;
  bottom: 10px;
}
