* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-size: 18px;
  font-family: "Hanken Grotesk", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}

body {
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
div {
  padding-top: 15px;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 520px;
}

.results,
.result-circle-text-wrapper,
.summary {
  text-align: center;
  vertical-align: center;
}

.results {
  border: 3px solid red;
  background-image: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
  height: 55vh;
  width: 40vh;
  border: none;
  border-radius: 30px;
}

.result-circle {
  background-image: linear-gradient(
    hsla(256, 72%, 46%, 1),
    hsla(241, 72%, 46%, 0)
  );
  width: 150px;
  height: 150px;
  margin: 10px auto;
  border: none;
  border-radius: 75px;
}

.result-76 {
  color: white;
  font-size: 50px;
  font-weight: 600;
}

.result-circle-text-wrapper {
  padding-top: 30px;
}

.result-100,
.results-text,
.result-info {
  color: hsl(241, 100%, 89%);
}

.result-info {
  font-size: 18px;
}

.great-text {
  margin-top: 0;
  color: white;
  font-size: 25px;
  font-weight: 600;
}

.summary {
  background-color: white;
  height: 55vh;
  width: 40vh;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 30px;
  box-shadow: 1px 3px 5px;
}

.summary-text {
  font-weight: 800;
  text-align: left;
  padding-left: 15px;
}

.stats-reaction,
.stats-memory,
.stats-verbal,
.stats-visual {
  margin-top: 5px;
  width: 210px;
  padding-bottom: 9px;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
  border: none;
  border-radius: 8px;
  font-size: 16px;
}

.stats-reaction {
  background-color: hsla(0, 100%, 67%, 0.2);
}

.stats-memory {
  background-color: hsla(39, 100%, 56%, 0.2);
}

.stats-verbal {
  background-color: hsla(166, 100%, 37%, 0.2);
}

.stats-visual {
  background-color: hsla(234, 85%, 45%, 0.2);
}

.stats-score {
  font-size: 16px;
  padding-left: 57px;
}

.stats-score-92 {
  font-size: 16px;
  padding-left: 60px;
}

.stats-score-61 {
  font-size: 16px;
  padding-left: 74px;
}

.stats-score-72 {
  font-size: 16px;
  padding-left: 78px;
}

.continue-button {
  background-color: hsl(224, 30%, 27%);
  color: white;
  padding: 15px 75px;
  border: none;
  border-radius: 25px;
  font-size: 14px;
  font-weight: 500;
}

footer {
  text-align: center;
  position: fixed;
  bottom: 10px;
}
